
#container {
  background:url('36336-SHDJ_STeblast6-2.jpg');
  height:2144px;
  width:600px;
}
#box1 {
  height:328px;
  width:600px;
}
#box2 {
  height:235px;
  width:600px;
}
#box3 {
  height:264px;
  width:600px;
}
#box4 {
  height:264px;
  width:600px;
}
#box5 {
  height:269px;
  width:600px;
}
#box6 {
  height:267px;
  width:600px;
}
#box7 {
  height:512px;
  width:600px;
}
